a {
color: green;
text-decoration: none;
float: left;

}

<!-- Use survey window from resume project as part of hover code (iframe) -->

<!-- Go to hover video and use it as a base. -->

// Use something like var changeParaText = paragraph[0].style.fontStyle = "italic";
//to change font style in javaScript file. But find a javaScript object and property that changes an image that will serve as the cursor.
a:hover {
color: #000;
background-image: url(iframe.html);
cursor: crosshair;
}